<div class="container mt-5">
    <div class="content overflow-auto">
        <div class="bg-black-50 mb-3">
            <div class="item d-flex justify-content-between p-4" data-bs-toggle="modal" data-bs-target="#keyboard">
                <div class="person d-flex align-items-center gap-4">
                    <img src="/assets/img/avatar-2.png" alt="avatar-1" width="40" height="40">
                    <p class="fz-title-lg text-black-950">Elly</p>
                </div>
                <div class="percent">
                    <p class="fz-title-md">20.0%</p>
                    <p class="d-flex gap-1 fz-caption-md"><span>=</span><span>짜</span><span>2383.3</span></p>
                </div>
            </div>
        </div>
        <div class="bg-black-50 mb-3">
            <div class="item d-flex justify-content-between p-4" data-bs-toggle="modal" data-bs-target="#keyboard">
                <div class="person d-flex align-items-center gap-4">
                    <img src="/assets/img/avatar-4.png" alt="avatar-1" width="40" height="40">
                    <p class="fz-title-lg text-black-950">Mitty</p>
                </div>
                <div class="percent">
                    <p class="fz-title-md">20.0%</p>
                    <p class="d-flex gap-1 fz-caption-md"><span>=</span><span>짜</span><span>2383.3</span></p>
                </div>
            </div>
        </div>
        <div class="bg-black-50 mb-3">
            <div class="item d-flex justify-content-between p-4" data-bs-toggle="modal" data-bs-target="#keyboard">
                <div class="person d-flex align-items-center gap-4">
                    <img src="/assets/img/avatar-8.png" alt="avatar-1" width="40" height="40">
                    <p class="fz-title-lg text-black-950">Lilian</p>
                </div>
                <div class="percent">
                    <p class="fz-title-md">20.0%</p>
                    <p class="d-flex gap-1 fz-caption-md"><span>=</span><span>짜</span><span>2383.3</span></p>
                </div>
            </div>
        </div>
        <div class="bg-black-50 mb-3">
            <div class="item d-flex justify-content-between p-4" data-bs-toggle="modal" data-bs-target="#keyboard">
                <div class="person d-flex align-items-center gap-4">
                    <img src="/assets/img/avatar-7.png" alt="avatar-1" width="40" height="40">
                    <p class="fz-title-lg text-black-950">Alex</p>
                </div>
                <div class="percent">
                    <p class="fz-title-md">20.0%</p>
                    <p class="d-flex gap-1 fz-caption-md"><span>=</span><span>짜</span><span>2383.3</span></p>
                </div>
            </div>
        </div>
    </div>
</div>