.navtab-bar{
    padding: 4px;
    display: flex;
    flex-wrap: nowrap;
    /* one item */li:first-child:nth-last-child(1) {
    /* -or- li:only-child { */ width: 100%;}
    /* two items */li:first-child:nth-last-child(2),li:first-child:nth-last-child(2) ~ li { width: 50%;}
    /* three items */li:first-child:nth-last-child(3),li:first-child:nth-last-child(3) ~ li { width: 33.3333%;}
    /* four items */li:first-child:nth-last-child(4),li:first-child:nth-last-child(4) ~ li { width: 25%;}
    .nav-link{
        width: 100%;
        padding: 8px 0px;
    }
}
.navtab-black{
    border-radius: 12px; /*需確認*/
    background: $white;
    .nav-link{
        color: $black-400;
    }
    .nav-link.active{
        color: $white;
        background-color: $black-950;
    }
}