.avatar-list {
  display: flex;

  li {
    position: relative;
    margin-right: -4px;
  }

  li:nth-child(1) {
    z-index: 4;
  }

  li:nth-child(2) {
    z-index: 3;
  }

  li:nth-child(3) {
    z-index: 2;
  }

  li:nth-child(4) {
    z-index: 1;
  }
}

.check-input-black-950 {
  background-color: $white;

  &:checked {
    background-color: $black-950;
    border-color: $black-950;
  }
}

.scaner-bar {
  height: 64px;
  align-items: center;
  position: fixed;
  z-index: 1000;
  bottom: calc(0% + 31.5px);
  left: 50%;
  transform: translateX(-50%);

  li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .fi{
      font-size: 24px;
    }
  }
  .nav-link{
    color: $black-400;
    &.active{
      color: $white;
    }
  }
  .scan-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    background-color: $purple-300;
    border: 8px solid $black-950;
    border-radius: $border-radius-pill;
    transform: translateX(-50%);

    .fi-br-plus {
      font-size: 24px;
      color: $black-950;
    }
  }
}
.payment-list{
  padding-bottom: 96px;
  height: calc(100vh - 295px);
}
.currency-select{
  .dropdown-menu{
    min-width: 60px;
    overflow: hidden;
  }
  .dropdown-item{
    color: $black-950;
    &:hover,.dropdown-item:focus{
      background-color: $black-950;
      color: $white;
    }
  }
}
.deco-star-bottomRight{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background-image: url(../img/deco/Star.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    bottom: calc(0% + 33px);
    right: calc(0% + 33px);
  }
  &::after{
    content: "";
    position: absolute;
    background-image: url(../img/deco/Star.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    bottom: calc(0% + 6px);
    right: calc(0% + -3px);
  }
}

.deco-star-left{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background-image: url(../img/deco/Star.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: calc(0% + 10px);
    left: calc(0% + 12px);
  }
  &::after{
    content: "";
    position: absolute;
    background-image: url(../img/deco/Star.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    top: calc(0% + 42px);
    left: calc(0% + 31px);
  }
}

.myTravel-head{
  padding-top: 10px;
  padding-bottom: 10px;
}
.travel-card-banner{
  position: relative;
  .travel-img{
    border-radius: 16px 16px 12px 12px;
  }
  .avatar-list{
    position: absolute;
    bottom: calc(0% + 12px);
    right: calc(0% + 12px);
  }
}
