<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <div class="row">
        <div class="col">
          <div  style="height: 300px;">

          </div>
        </div>
        <div class="col">
          <div class="color-test" style="height: 300px;">

          </div>
        </div>
        <div class="col">
          <div class="color-test2" style="height: 300px;">

          </div>
        </div>
        <div class="col">
          <div class="color-test" style="height: 300px;">

          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>