<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>分帳</title>
</head>

<body>
  <%- include('./layout/topbar'); -%>
  <section class="mt-11">
    <div class="head-payment-remind mb-6">
      <a href="./split.html" class="d-block p-2 me-11"><i class="fi fi-rr-angle-left text-black-950 d-block"></i></a>
      <h2 class="fs-title-lg fw-bold">提醒款項</h2>
      <a href="#" class="py-2 px-3 fs-caption-lg text-black-950 fw-medium">切換幣別</a>
    </div>
    <div class="container">
      
    </div>
  </section>
  <%- include('./layout/bottombar'); -%>
  <script type="module" src="../main.js"></script>
</body>

</html>