<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>分帳</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <section>
      <div class="container">
        <h2 class="py-3 text-center fs-title-lg fw-bold">分帳</h2>
        <div class="deco-searchbar d-flex align-items-center py-4">
          <input type="text" class="form-control bg-white border-0 py-2 ps-9 me-2 fs-body-md rounded-80"
            placeholder="請輸入旅程或成員名稱">
          <img src="../assets/img/icon/info.svg" alt="" class="p-2" width="32" height="32">
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <ul class="nav navtab-bar navtab-black nav-pills mb-6 fs-caption-lg" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-all-payment-tab" data-bs-toggle="pill"
              data-bs-target="#pills-all-payment" type="button" role="tab" aria-controls="pills-all-payment"
              aria-selected="true">全部款項</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-payment-tab" data-bs-toggle="pill" data-bs-target="#pills-payment"
              type="button" role="tab" aria-controls="pills-payment" aria-selected="false">需收款</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-repayment-tab" data-bs-toggle="pill" data-bs-target="#pills-repayment"
              type="button" role="tab" aria-controls="pills-repayment" aria-selected="false">需還款</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-payment-done-tab" data-bs-toggle="pill"
              data-bs-target="#pills-payment-done" type="button" role="tab" aria-controls="pills-payment-done"
              aria-selected="false">已完成</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all-payment" role="tabpanel"
            aria-labelledby="pills-all-payment-tab">
            <ul class="list-unstyled m-0 d-flex flex-column gap-4">
              <li class="card border-0 bg-white">
                <div class="card-body d-flex align-items-center py-0">
                  <label class="d-flex w-100 py-2 me-6" for="payment-1" >
                    <div class="d-flex flex-column gap-1 me-auto">
                      <h3 class="fs-title-md fw-bold">東京滑雪團</h3>
                      <span class="fs-caption-md">2024/12/01 - 2024/12/06</span>
                      <ul class="avatar-list list-unstyled m-0">
                        <li><img src="../assets/img/avatar-1.png" alt="avatar"
                            class="avatar-sm rounded-pill border border-2 border-white"></li>
                        <li><img src="../assets/img/avatar-2.png" alt="avatar"
                            class="avatar-sm rounded-pill border border-2 border-white"></li>
                        <li><img src="../assets/img/deco/purple.png" alt="avatar"
                            class="avatar-sm rounded-pill border border-2 border-white"></li>
                        <li><span class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+3</span></li>
                      </ul>
                    </div>
                    <div class="d-flex flex-column justify-content-center text-black-950">
                      <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                      <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                          class="JPY-symbol">¥</span>6,377</span>
                    </div>
                  </label>
                  <input class="form-check-input m-0 p-3" type="checkbox" value="" id="payment-1">
                </div>
              </li>
              <li class="card border-0 bg-white">
                <div class="card-body d-flex align-items-center py-0">
                  <label class="d-flex w-100 py-2 me-6" for="flexCheckChecked">
                    <div class="d-flex flex-column gap-1 me-auto">
                      <h3 class="fs-title-md fw-bold">東京滑雪團</h3>
                      <span class="fs-caption-md">2024/12/01 - 2024/12/06</span>
                      <ul class="avatar-list list-unstyled m-0">
                        <li><img src="../assets/img/avatar-1.png" alt="avatar"
                            class="avatar-sm rounded-pill border border-2 border-white"></li>
                        <li><img src="../assets/img/avatar-2.png" alt="avatar"
                            class="avatar-sm rounded-pill border border-2 border-white"></li>
                        <li><img src="../assets/img/deco/purple.png" alt="avatar"
                            class="avatar-sm rounded-pill border border-2 border-white"></li>
                        <li><span class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+3</span></li>
                      </ul>
                    </div>
                    <div class="d-flex flex-column justify-content-center text-black-950">
                      <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                      <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                          class="JPY-symbol">¥</span>6,377</span>
                    </div>
                  </label>
                  <input class="form-check-input m-0 p-3" type="checkbox" value="" id="flexCheckChecked">
                </div>
              </li>
              
            </ul>
          </div>
          <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">

          </div>
          <div class="tab-pane fade" id="pills-repayment" role="tabpanel" aria-labelledby="pills-repayment-tab">

          </div>
          <div class="tab-pane fade" id="pills-payment-done" role="tabpanel" aria-labelledby="pills-payment-done-tab">

          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>