<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>分帳</title>
</head>

<body>
  <%- include('./layout/topbar'); -%>
    <div class="tab-content" id="index-switch">
      <div class="tab-pane mt-11 phone-layout overscroll-nobar active" id="travel" role="tabpanel" aria-labelledby="pills-travel-tab">
        <section>
          <div class="container d-flex align-items-center py-4">
            <img src="../assets/img/avatar-1.png" alt="avatar" class="avatar me-2">
            <h2 class="fs-h2 fw-bold me-auto">Mia</h2>
            <div class="dropdown currency-select">
              <a class="d-flex align-items-center text-black-950 bg-white px-3 py-2 rounded-pill fs-caption-lg" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="symbol">$</span>TWD<i class="fi fi-rr-angle-small-down ms-1 fs-body-lg"></i>
              </a>
              <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                <li class="dropdown-item"><span class="symbol">$</span>JYP</li>
                <li class="dropdown-item"><span class="symbol">$</span>KRW</li>
                <li class="dropdown-item"><span class="symbol">$</span>USD</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="mb-4">
          <div class="container">
            <div class="p-4 bg-white rounded-240">
              <div class="d-flex gap-3 mb-3">
                <div class="d-flex align-items-start justify-content-between p-4 rounded-120 bg-green-300 w-50">
                  <div class="text-black-950">
                    <span class="d-block fs-caption-md">需收款</span>
                    <span class="d-block fs-h4 fw-semibold">$1,2649</span>
                  </div>
                  <i class="fi fi-rr-arrow-small-down p-1 bg-white text-black-950 rounded-80"></i>
                </div>
                <div class="d-flex align-items-start justify-content-between p-4 rounded-120 bg-orange-200 w-50">
                  <div class="d-flex flex-column text-black-950">
                    <span class="fs-caption-md">需還款</span>
                    <span class="fs-h4 fw-semibold">$1,837</span>
                  </div>
                  <i class="fi fi-rr-arrow-small-up p-1 bg-white text-black-950 rounded-80"></i>
                </div>
              </div>
              <div
                class="d-flex align-items-start justify-content-between p-4 bg-purple-100 rounded-120 deco-star-bottomRight">
                <div class="d-flex flex-column gap-1">
                  <span class="fs-caption-lg fw-medium">正在進行的旅程</span>
                  <h3 class="fs-title-lg fw-bold">東京滑雪團</h3>
                  <span class="fs-body-md">2024/12/01 - 2024/12/06</span>
                </div>
                <i class="fi fi-rr-angle-small-right p-1 bg-black-950 rounded-pill text-white"></i>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="container pt-6">
            <div class="myTravel-head d-flex justify-content-between align-items-center mb-2">
              <h2 class="fs-h3 fw-bold">我的旅程</h2>
              <button class="btn btn-sm d-flex align-items-center border border-black-300 rounded-pill text-black-950">
                <i class="fi fi-rr-add fs-body-lg me-1"></i><span class="fs-caption-lg">新增</span>
              </button>
            </div>
          </div>
        </section>
        <section class="mb-4">
          <div class="container">
            <ul class="nav navtab-bar navtab-black nav-pills mb-4 rounded-120 fs-caption-lg"
              id="pills-payment-split-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-80 active" id="" data-bs-toggle="pill" data-bs-target="" type="button"
                  role="tab" aria-controls="" aria-selected="true">所有旅程</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-80" id="" data-bs-toggle="pill" data-bs-target="" type="button"
                  role="tab" aria-controls="" aria-selected="false">需收款</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-80" id="" data-bs-toggle="pill" data-bs-target="" type="button"
                  role="tab" aria-controls="" aria-selected="false">需還款</button>
              </li>
            </ul>
          </div>
        </section>
        <section>
          <div class="container">
            <ul class="list-unstyled m-0 d-flex flex-column gap-4">
              <li>
                <a href="##" class="card rounded-200 overflow-hidden p-2 pb-5">
                  <div class="travel-card-banner mb-3">
                    <picture class="d-block bg-purple-200 travel-img deco-star-left" style="height: 131px; width: 100%;">
                    
                    </picture>
                    <ul class="avatar-list list-unstyled m-0">
                      <li><img src="../assets/img/avatar-1.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><img src="../assets/img/avatar-2.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><img src="../assets/img/deco/purple.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><span
                          class="avatar-sm avatar-sm-tag rounded-pill text-white bg-transparent">+3</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body d-flex justify-content-between px-2 py-0">
                    <div class="d-flex flex-column gap-2">
                      <h3 class="fs-title-lg fw-bold">東京滑雪團</h3>
                      <span class="fs-caption-lg">2024/12/01 - 2024/12/06</span>
                      <div class="d-flex align-items-center">
                        <i class="fi fi-rr-marker me-1 fs-caption-md"></i>
                        <ul class="list-unstyled d-flex list-seperate fs-caption-lg">
                          <li>日本</li>
                          <li>東京</li>
                        </ul>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-end gap-1 text-black-950">
                      <span class="fs-caption-md px-3">需收款</span>
                      <span class="fs-h4 fw-semibold bg-green-300 rounded-pill py-1 px-4"><span class="fs-body-md symbol">$</span>1,200</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="##" class="card rounded-200 overflow-hidden p-2 pb-5">
                  <div class="travel-card-banner mb-3">
                    <picture class="d-block bg-purple-200 travel-img deco-star-left" style="height: 131px; width: 100%;">
                    
                    </picture>
                    <ul class="avatar-list list-unstyled m-0">
                      <li><img src="../assets/img/avatar-1.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><img src="../assets/img/avatar-2.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><img src="../assets/img/deco/purple.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><span
                          class="avatar-sm avatar-sm-tag rounded-pill text-white bg-transparent">+3</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body d-flex justify-content-between px-2 py-0">
                    <div class="d-flex flex-column gap-2">
                      <h3 class="fs-title-lg fw-bold">台北大縱走</h3>
                      <span class="fs-caption-lg">2024/11/20 - 2024/11/21</span>
                      <div class="d-flex align-items-center">
                        <i class="fi fi-rr-marker me-1 fs-caption-md"></i>
                        <ul class="list-unstyled d-flex list-seperate fs-caption-lg">
                          <li>台灣</li>
                          <li>台北</li>
                        </ul>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-end gap-1 text-black-950">
                      <span class="fs-caption-md px-3">需收款</span>
                      <span class="fs-h4 fw-semibold bg-green-300 rounded-pill py-1 px-4"><span class="fs-body-md symbol">$</span>1,200</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="##" class="card rounded-200 overflow-hidden p-2 pb-5">
                  <div class="travel-card-banner mb-3">
                    <picture class="d-block bg-purple-200 travel-img deco-star-left" style="height: 131px; width: 100%;">
                    
                    </picture>
                    <ul class="avatar-list list-unstyled m-0">
                      <li><img src="../assets/img/avatar-1.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><img src="../assets/img/avatar-2.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><img src="../assets/img/deco/purple.png" alt="avatar"
                          class="avatar-sm rounded-pill border border-1 border-white"></li>
                      <li><span
                          class="avatar-sm avatar-sm-tag rounded-pill text-white bg-transparent">+3</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body d-flex justify-content-between px-2 py-0">
                    <div class="d-flex flex-column gap-2">
                      <h3 class="fs-title-lg fw-bold">台南吃吃喝喝</h3>
                      <span class="fs-caption-lg">2024/11/13 - 2024/11/15</span>
                      <div class="d-flex align-items-center">
                        <i class="fi fi-rr-marker me-1 fs-caption-md"></i>
                        <ul class="list-unstyled d-flex list-seperate fs-caption-lg">
                          <li>台灣</li>
                          <li>台南</li>
                        </ul>
                      </div>
                    </div>
                    <div class="d-flex flex-column align-items-end gap-1 text-black-950">
                      <span class="fs-caption-md px-3">需收款</span>
                      <span class="fs-h4 fw-semibold bg-green-300 rounded-pill py-1 px-4"><span class="fs-body-md symbol">$</span>1,200</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="tab-pane" id="split" role="tabpanel" aria-labelledby="pills-split-tab">
        <section class="mt-11">
          <div class="container">
            <h2 class="py-3 text-center fs-title-lg fw-bold">分帳</h2>
            <div class="deco-searchbar d-flex align-items-center py-4">
              <input type="text" class="form-control bg-white border-0 py-2 ps-9 me-2 fs-body-md rounded-80"
                placeholder="請輸入旅程或成員名稱">
              <img src="../assets/img/icon/info.svg" alt="" class="p-2" width="32" height="32">
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <ul class="nav navtab-bar navtab-black nav-pills mb-6 rounded-120 fs-caption-lg"
              id="pills-payment-split-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-80 active" id="pills-all-payment-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-all-payment" type="button" role="tab" aria-controls="pills-all-payment"
                  aria-selected="true">全部款項</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-80" id="pills-payment-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-payment" type="button" role="tab" aria-controls="pills-payment"
                  aria-selected="false">需收款</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-80" id="pills-repayment-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-repayment" type="button" role="tab" aria-controls="pills-repayment"
                  aria-selected="false">需還款</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-80" id="pills-payment-done-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-payment-done" type="button" role="tab" aria-controls="pills-payment-done"
                  aria-selected="false">已完成</button>
              </li>
            </ul>
          </div>
        </section>
        <section class="payment-list overscroll-nobar">
          <div class="container">
            <div class="tab-content mb-8" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-all-payment" role="tabpanel"
                aria-labelledby="pills-all-payment-tab">
                <ul class="list-unstyled m-0 d-flex flex-column gap-4">
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-1">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">東京滑雪團</h3>
                          <span class="fs-caption-md">2024/12/01 - 2024/12/06</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-2.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+3</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>6,377</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-1"
                        id="payment-1">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-2">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台北大縱走</h3>
                          <span class="fs-caption-md">2024/11/20 - 2024/11/21</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-3.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+1</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-orange-200 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>1,837</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-2"
                        id="payment-2">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-3">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台南吃吃喝喝</h3>
                          <span class="fs-caption-md">2024/11/13 - 2024/11/15</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-5.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+2</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>824</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-3"
                        id="payment-3">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-4">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台中看表演</h3>
                          <span class="fs-caption-md">2024/10/29 - 2024/10/30</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>10,355</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-4"
                        id="payment-4">
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                <ul class="list-unstyled m-0 d-flex flex-column gap-4">
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-5">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">東京滑雪團</h3>
                          <span class="fs-caption-md">2024/12/01 - 2024/12/06</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-2.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+3</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>6,377</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-5"
                        id="payment-5">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-6">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台北大縱走</h3>
                          <span class="fs-caption-md">2024/11/20 - 2024/11/21</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-3.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+1</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-orange-200 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>1,837</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-6"
                        id="payment-6">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-7">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台南吃吃喝喝</h3>
                          <span class="fs-caption-md">2024/11/13 - 2024/11/15</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-5.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+2</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>824</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-7"
                        id="payment-7">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-8">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台中看表演</h3>
                          <span class="fs-caption-md">2024/10/29 - 2024/10/30</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>10,355</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-8"
                        id="payment-8">
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" id="pills-repayment" role="tabpanel" aria-labelledby="pills-repayment-tab">
                <ul class="list-unstyled m-0 d-flex flex-column gap-4">
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-9">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">東京滑雪團</h3>
                          <span class="fs-caption-md">2024/12/01 - 2024/12/06</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-2.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+3</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>6,377</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-9"
                        id="payment-9">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-10">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台北大縱走</h3>
                          <span class="fs-caption-md">2024/11/20 - 2024/11/21</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-3.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+1</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-orange-200 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>1,837</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-10"
                        id="payment-10">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-11">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台南吃吃喝喝</h3>
                          <span class="fs-caption-md">2024/11/13 - 2024/11/15</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-5.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+2</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>824</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-11"
                        id="payment-11">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-12">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台中看表演</h3>
                          <span class="fs-caption-md">2024/10/29 - 2024/10/30</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>10,355</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-12"
                        id="payment-12">
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" id="pills-payment-done" role="tabpanel"
                aria-labelledby="pills-payment-done-tab">
                <ul class="list-unstyled m-0 d-flex flex-column gap-4">
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-13">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">東京滑雪團</h3>
                          <span class="fs-caption-md">2024/12/01 - 2024/12/06</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-2.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+3</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>6,377</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-13"
                        id="payment-13">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-14">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台北大縱走</h3>
                          <span class="fs-caption-md">2024/11/20 - 2024/11/21</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-3.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+1</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-orange-200 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>1,837</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-14"
                        id="payment-14">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-15">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台南吃吃喝喝</h3>
                          <span class="fs-caption-md">2024/11/13 - 2024/11/15</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/avatar-5.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><span
                                class="avatar-sm avatar-sm-tag rounded-pill border border-2 border-white">+2</span>
                            </li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>824</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-15"
                        id="payment-15">
                    </div>
                  </li>
                  <li class="card border-0 bg-white">
                    <div class="card-body d-flex align-items-center py-0">
                      <label class="d-flex w-100 py-2 me-6" for="payment-16">
                        <div class="d-flex flex-column gap-1 me-auto">
                          <h3 class="fs-title-md fw-bold">台中看表演</h3>
                          <span class="fs-caption-md">2024/10/29 - 2024/10/30</span>
                          <ul class="avatar-list list-unstyled m-0">
                            <li><img src="../assets/img/avatar-1.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                            <li><img src="../assets/img/deco/purple.png" alt="avatar"
                                class="avatar-sm rounded-pill border border-2 border-white"></li>
                          </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center text-black-950">
                          <span class="text-end pe-3 mb-1 fs-caption-md">需收款</span>
                          <span class="bg-green-300 py-1 px-3 rounded-pill fs-caption-lg fw-semibold"><span
                              class="JPY-symbol">¥</span>10,355</span>
                        </div>
                      </label>
                      <input class="form-check-input check-input-black-950 m-0 p-3" type="checkbox" value="payment-16"
                        id="payment-16">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <a href="./payment-remind.html"
              class="btn btn-lg btn-black-950 w-100 fs-title-lg fw-bold rounded-160">分帳</a>
          </div>
        </section>
      </div>
    </div>
    <div class="scaner-bar container">
      <ul class="nav bg-black-950 h-100 w-100 rounded-200 d-flex" id="index-switch-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active d-flex flex-column align-items-center gap-1" id="pills-travel-tab"
            data-bs-toggle="pill" data-bs-target="#travel" type="button" role="tab" aria-controls="travel"
            aria-selected="true">
            <i class="fi fi-rr-map"></i>
            <span class="fs-caption-lg">旅途</span>
          </button>
        </li>
        <li class="position-relative">
          <a href="#" class="scan-btn">
            <i class="fi fi-br-plus"></i>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link d-flex flex-column align-items-center gap-1" id="pills-split-tab"
            data-bs-toggle="pill" data-bs-target="#split" type="button" role="tab" aria-controls="split"
            aria-selected="false">
            <i class="fi fi-rr-credit-card"></i>
            <span class="fs-caption-lg">分帳</span>
          </button>
        </li>
      </ul>
    </div>
    <%- include('./layout/bottombar'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>